<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Test -->
    <add key="URI" value="https://test-api.pin.net.au" />

    <!-- Prod -->
    <!-- 
    <add key="URI" value="https://api.pin.net.au" />
    -->

    <add key="Publish_API" value="** ENTER YOUR PUBLISH API KEY **"/>
    <add key="Secret_API" value="** ENTER YOUR SECRET API KEY **"/>
   
  </appSettings>
</configuration></configuration>  </appSettings><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
